<div class="container">
  <h1 class="mt-4">Editing recipe</h1>

  <%= render "form", recipe: @recipe %>

  <br>

  <div>
    <%= link_to "Show this recipe", @recipe, class: "btn btn-primary show1" %> |
    <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary back" %>
  </div>
</div>
